<div class="navbar">
    <div class="logo"><b>SIMPLE</b></div>
    <div class="menu">
        <ul>
            <li><a href="/about-me">About Me</a></li>
            <li><a href="/contact-me">Contact Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
    </div>
</div>