<%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
        <!-- section 2 : our field experts have worked with the best -->
        <section id="brands-section" style="background-color: #3F94F8; color: white !important;">
            <div class="container text-center">
                <div class="text-center" style="margin: 2rem">
                    <h2><span>Our</span> Partners</h2>
                </div>

                <div class="brands-container shadow-lg" style="border-radius: 25px; background-color: #a4c9f4;">

                    <img src="images/logos/unionaire.png" alt="unionaire">
                    <img src="images/logos/fawry.png" alt="fawry">
                    <img src="images/logos/ibm.png" alt="ibm">
                    <img src="images/logos/eichholtz.png" alt="eichholtz">
                    <img src="images/logos/electrostar.png" alt="electrostar">

                </div>

                <div class="text-center" style="margin: 2rem">
                    <h4>Ask them if you can</h4>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>