<%- include('./partials/head.ejs') %>

    <!-- navigation bar -->
    <div class="blue-back">
        <div class="main">
            <div class="navbar" style="justify-content: space-evenly;">
                <a href="/">
                    <div class="logo"><b>Simple</b></div>
                </a>

                <div class="menu" style="width: fit-content">
                    <ul>
                        <li><a href="/about-me">About Me</a></li>
                        <li><a href="/contact-me">Contact Me</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/services">Services</a></li>

                    </ul>
                </div>

                <a href="/login" class="gradient-button btn"
                    style="margin: 15px 15px; justify-self: end;"><b>Login</b></a>
            </div>

            <div class="main-content col-md-12 text-center">
                <div class="text">
                    <h1 style="color: #fff; margin: 0 auto;">
                        Work with the best.
                    </h1>
                    <p id="heart">❤️</p>

                    <p style="opacity: 1; color: white;">
                        <b>Simple</b> is the only <br>
                        Software-Development service <br>
                        in the world. trust me.
                    </p>
                    <p
                        style="color: #fff; background-color: #3F94F8; display: inline-block; padding: 7px 10px; border-radius: 7px;">
                        <b>We deliver code that works. probably</b>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <%- include('./partials/footer.ejs') %>